# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# APPLICATION PORT
PORT=8000

# development (OR) production
NODE_ENV=""

# CORS
DEV_CLIENT_URL=""
PROD_CLIENT_URL=""
PROD_SERVER_URL=""

# DATABASE SETUP
DATABASE_URL=""


# SMTP SETUP
SMTP_HOST=""
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
CONTACT_RECEIVER=""

# RECAPTCHA
RECAPTCHA_SECRET_KEY=""

# JWT SECRET
JWT_SECRET=""

# SESSION SECRET
SESSION_SECRET=""